<div *ngIf="home" class="col-md-4 update-page text-center">
    <h2>Welcome to home Screen</h2>
    <br /><br />
    <p>Credit Suisse Group AG is a Swiss multinational investment bank and financial services company founded and based in Switzerland.</p>
    <br />
    <p>Headquartered in Zürich, it maintains offices in all major financial centers around the world.</p>
    <br />
    <button class="btn btn-primary" (click)="updateDetails()" href="">Update Details</button>
</div>



<div *ngIf="update" class="col-md-4 update-page text-center">
    <h2>Update User Details</h2>
    <div class="profile">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </div>
    
    <form class="form-inline update-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="fname" placeholder="Enter First Name" formControlName="fname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="mname" placeholder="Enter Median Name" formControlName="mname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="lname" placeholder="Enter Last Name" formControlName="lname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="number"  class=" form-control col-sm-12" name="cid" placeholder="Enter Customer Id" formControlName="cid" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text" class=" form-control col-sm-12" name="uname" placeholder="Enter User Name" formControlName="uname" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="password" class="form-control col-sm-12" name="passwd" placeholder="Enter Password" formControlName="passwd" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="number"  class=" form-control col-sm-12" name="contactNumber" placeholder="Enter Contact Number" formControlName="contactNumber" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="email"  class="form-control col-sm-12" name="email" placeholder="Enter Email Id" formControlName="email" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="text"  class="form-control col-sm-12" name="address" placeholder="Enter Address" formControlName="address" required>
        </div>

        <div class="form-group col-sm-12">
          <input type="select"  class="form-control col-sm-12" name="upload" placeholder="Enter upload" formControlName="upload" required>
        </div>


        <div class="form-group col-sm-12">
          <input type="submit" class="col-sm-12 btn btn-primary" value="UPDATE DETAILS">
        </div>

        <div class="form-group col-sm-12">
          <input type="button" class="col-sm-12 btn btn-warning" value="SIGN OUT" (click)="onSignOut()">
        </div>

    </form>

    <p class="text-danger">{{errorMessage}}</p>
    <p class="text-success">{{successMessage}}</p>
    
  </div>
  