<div class="col-md-4 login-page text-center">
  <h2>SIGN IN</h2>
  <div class="profile">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
  </div>
  <p class="text-danger">{{errorMessage}}</p>
  <form class="form-inline login-form" [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
      <div class="form-group col-sm-12">
        <input type="text" class="form-control col-sm-12" name="cid" placeholder="Enter Customer id" formControlName="cid" required>
      </div>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control col-sm-12" name="username" placeholder="Enter Username" formControlName="username" required>
      </div>
      <div class="form-group col-sm-12">
          <input type="password" class="form-control col-sm-12" name="passwd" placeholder="Enter Password" formControlName="passwd" required>
      </div>
      <div class="form-group col-sm-12">
        <input type="submit" class="col-sm-12 btn btn-primary" value="SIGN IN">
      </div>
      <div class="form-group col-sm-12">
        <input type="button" class="col-sm-12 btn btn-warning" value="SIGN UP" (click)="onSignUp()">
      </div>
  </form>
  
</div>
